.cards{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    gap: 25px;
    width:70%;
    margin: 0 auto;
}

.cards__header{
    margin-top: 2rem;
    padding:1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    width:75%;
    margin: 3rem auto 2rem auto;
}

.card{
    border-radius: 0.5 50% 0 0;
}

.card__image{
    width: 100%;
    padding-top: 100%;
    position: relative;
    
    img{
        height:100%;
        border-radius:50%;
        width: 100%;
        position: absolute;
        top:0;
        object-fit: cover;
    }
}

.card__description{
    text-align: center;
}

.description__name{
    font-size: 1rem;
}

.description__nickname{
    font-weight: 300;
}

.description__local{
    font-weight: 200;
    text-transform: uppercase;
    font-size:0.9rem;
}