.cards{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    gap: 25px;
    width:70%;
    margin: 0 auto;
}

.card{
    border-radius: 0.5 50% 0 0;
}

.card__image{
    width: 100%;
    padding-top: 100%;
    position: relative;
    
    img{
        height:100%;
        border-radius:50%;
        width: 100%;
        position: absolute;
        top:0;
    }
}