.menu{
    position: absolute;
    right:0;
}
.menu__list{
    color: var(--yellow-100);
    background-color:var(--black-800);
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    gap:2rem;
    font-weight:400;
    padding:1rem;

  
    &:first-child{
        padding-left:4rem
    }
    &:last-child{
        padding-right:4rem
    }
}