body{
    background:#f2f2f2;
    font-family:'Source Sans Pro', sans-serif;;
}

:root{
    --yellow-100: #FFC066;
    --yellow-200: #CD8F35;
    
    --yellow-400: #8E5F25;
    
    --black-800: #231f20;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;

}

a{
    color:inherit;
    text-decoration:none
 }

h1{
    font-size:1rem;
    font-weight:600;
}