.header{
    height:30rem;
    background-image: url(https://media.istockphoto.com/photos/aged-handmade-bamboo-weave-texture-background-picture-id641938162);
}

.header_container{
    background: var(--yellow-100);
}

.mapa{

    margin-top:3rem;
    width: 100%;

}
